* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 31px;
    line-height: 55px;
    margin-top: 0px;
    margin-right: 0px;
}

h1 {
    font-size: 38px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#list {
    margin-top: 0px;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 12px;
    left: -30px;
    border: none;
    height: 1px;
    width: 100vw;
    background: #606060;
}

.buttonBeer {
    width: 20px;
    height: 67px;
    border: 0px;
    background-repeat: no-repeat;
    top: 20px;
    left: -13px;
    position: relative;
}

#dev {
    background: url(RitterBlau.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#Pfeffi {
    background: url(Pfeffi.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Jäger {
    background: url(Jäger.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Malibu {
    background: url(Malibu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Havana {
    background: url(Havana.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Jacky {
    background: url(Jacky.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#RitterRot {
    background: url(RitterRot.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Beer {
    position: absolute;
    left: 0px;
    width: 100vw;
    max-width: 400px;
}

#AddPerson {
    position: absolute;
    width: 39px;
    right: 3px;
    top: 4px;
    visibility: hidden;
}

#AddPerson.active {
    visibility: visible;
}

#shallyLink {
    color: #ffffff00;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 40px;
    width: 31px;
    transition: .4s;
}

#shallyLink.active {
    background-image: url(Licht.png);
}

#sidebar {
    position: absolute;
    width: 43px;
    height: 100vh;
    background: #10101000;
    right: 0px;
    top: 0px;
    visibility: hidden;
    transition: .4s;
}

#sidebar.active {
    visibility: visible;
    background: #101010;
}

#Menue.active {
    visibility: hidden;
    right: 100px;
}

#Menue {
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: visible;
}



@keyframes animate {
    0% {
        
    }
    100% {
        
    }
}