body {
    background-color: #303030;
    color: #ffffff;
    font-family: sans-serif;
}

.buttonBeer {
    background: url(RitterBlau.png);
    background-size: contain;
    width: 12px;
    height: 40px;
    border: 0px;
    background-repeat: no-repeat;
    top: 14px;
    left: 7px;
    position: relative;
    animation: animate 0.2s linear;
}

@keyframes animate {
    0% {
        
    }
    100% {
        
    }
}